# Ignore editor and IDE files
.vscode/
.eslintrc.json

# Ignore build artifacts and dependencies
node_modules/
backend/dist/
frontend/dist/

# Ignore log files
*.log

# Ignore temporary files
*.tmp

# Ignore configuration files
backend/.env
cloudbuild.yaml
intall-scout.sh
LICENSE
README.md

# Ignore ignore files
.gitignore
.gcloudignore
.dockerignore