@use '../abstracts' as *;

.footer {
    min-height: 5vh;
    display: flex;
    justify-content: center;
    align-items: end;

    &__text {
        color: $white;
        text-align: center;
        padding: 1em 0;
        font-size: 0.9rem;
    }
}

