@use '../abstracts' as *;

.header {
    min-height: 5vh;

    &__user {
        position: absolute;
        top: 1rem;
        right: 1rem;
        font-size: 1.2rem;
        color: $secondary;
    }
}

.logout {
    display: none;
}

