@import url(https://fonts.googleapis.com/css?family=Space+Mono:regular,italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Space+Grotesk:300,regular,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Fira+Sans:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@-webkit-keyframes float {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
@keyframes float {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
.floating {
  -webkit-animation: float 3s ease-in-out infinite;
          animation: float 3s ease-in-out infinite;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-image: -webkit-gradient(linear, left top, right bottom, color-stop(30%, hsl(203, 92%, 65%)), color-stop(90%, hsl(120, 73%, 75%)));
  background-image: linear-gradient(to bottom right, hsl(203, 92%, 65%) 30%, hsl(120, 73%, 75%) 90%);
  cursor: url("../img/normal.cur"), auto;
}

canvas {
  width: 60vw;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  border-radius: 0.8em;
}

a {
  text-decoration: none;
  cursor: url("../img/select.cur"), auto;
}

.mobile-warning {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  text-align: center;
  padding-top: 50vh;
  z-index: 9999;
}
@media only screen and (max-width: 1919px) {
  .mobile-warning {
    display: block;
  }
}
.mobile-warning a {
  color: #fff;
  text-decoration: underline;
}

body {
  font-family: "Space Grotesk", sans-serif;
}

h1 {
  font-family: "Space Mono", monospace, sans-serif;
  font-size: 5rem;
}

.u-canvas-title {
  justify-self: center;
  padding: 1vh;
  color: hsl(203, 92%, 65%);
  -webkit-text-stroke: 0.05em rgba(234, 234, 251, 0.3);
  text-shadow: 0 0 0.15em hsl(240, 67%, 95%);
  border-top: 0.15em double rgba(234, 234, 251, 0.3);
  border-bottom: 0.15em double rgba(234, 234, 251, 0.3);
  border-radius: 0.4em;
}

.header__nav {
  font-size: 2.6rem;
  margin-left: 1em;
  margin-top: 0.2em;
  position: fixed;
}
.header__nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1em;
  list-style: none;
  border-bottom: 0.2em solid rgba(234, 234, 251, 0.3);
  border-radius: 1em;
  padding: 0.2em 1em;
}
.header__nav__item {
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}
.header__nav__item:hover, .header__nav__item:focus {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.header__nav__item:active {
  -webkit-transform: scale(0.5);
      -ms-transform: scale(0.5);
          transform: scale(0.5);
}
.header__nav__link {
  text-decoration: none;
  color: rgba(204, 204, 204, 0.8);
  -webkit-transition: text-shadow 1.5s ease-in-out;
  transition: text-shadow 1.5s ease-in-out;
}
.header__nav__link:hover, .header__nav__link:focus {
  text-shadow: 0 0 0.4em hsl(240, 67%, 95%);
}

.main {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.main__content {
  display: grid;
}

.games {
  margin-bottom: 15rem;
  display: grid;
  row-gap: 10rem;
  justify-items: center;
}
.games__title {
  color: hsl(203, 92%, 65%);
  -webkit-text-stroke: 0.05em rgba(234, 234, 251, 0.3);
  text-shadow: 0 0 0.15em hsl(240, 67%, 95%);
  font-size: 10rem;
  letter-spacing: 2rem;
}
.games__grid-item {
  font-size: 2rem;
}
.games__grid-item--p4 {
  padding: 0.5em;
  padding-top: 0.4em;
  font-size: 2rem;
  text-shadow: 0 0 0.4em hsl(240, 67%, 95%);
  color: hsl(203, 92%, 65%);
  border: 0.12em solid hsl(203, 92%, 65%);
  border-radius: 0.6em;
  -webkit-box-shadow: 0 0 0.6em rgba(234, 234, 251, 0.6), 0 0 0em rgba(133, 205, 250, 0.5) inset, 0 0 0em hsl(203, 92%, 75%);
          box-shadow: 0 0 0.6em rgba(234, 234, 251, 0.6), 0 0 0em rgba(133, 205, 250, 0.5) inset, 0 0 0em hsl(203, 92%, 75%);
  -webkit-transition: scale 0.7s linear, text-shadow 1s ease-in-out, color 1.5s, border-color 2s, -webkit-box-shadow 0.5s linear;
  transition: scale 0.7s linear, text-shadow 1s ease-in-out, color 1.5s, border-color 2s, -webkit-box-shadow 0.5s linear;
  transition: box-shadow 0.5s linear, scale 0.7s linear, text-shadow 1s ease-in-out, color 1.5s, border-color 2s;
  transition: box-shadow 0.5s linear, scale 0.7s linear, text-shadow 1s ease-in-out, color 1.5s, border-color 2s, -webkit-box-shadow 0.5s linear;
  z-index: 2;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.games__grid-item--p4:hover {
  color: hsl(240, 67%, 95%);
  border-color: rgba(234, 234, 251, 0.3);
  -webkit-box-shadow: 0 0 0em rgba(234, 234, 251, 0.3), 0 0 5em rgba(133, 205, 250, 0.5) inset, 0 0 0.6em rgba(133, 205, 250, 0.5);
          box-shadow: 0 0 0em rgba(234, 234, 251, 0.3), 0 0 5em rgba(133, 205, 250, 0.5) inset, 0 0 0.6em rgba(133, 205, 250, 0.5);
  text-shadow: 0 0 0.12em hsl(203, 92%, 75%);
  scale: 1.04;
  cursor: url("../img/select.cur"), auto;
}
.games__grid-item--p4:active {
  scale: 0.2;
}

.animations {
  margin-bottom: 15rem;
  display: grid;
  row-gap: 10rem;
  justify-items: center;
}
.animations__title {
  color: hsl(203, 92%, 65%);
  -webkit-text-stroke: 0.05em rgba(234, 234, 251, 0.3);
  text-shadow: 0 0 0.15em hsl(240, 67%, 95%);
  font-size: 10rem;
  letter-spacing: 2rem;
}
.animations__grid-item {
  font-size: 2rem;
}
.animations__grid-item--dancing-circles {
  padding: 0.5em;
  padding-top: 0.4em;
  font-size: 2rem;
  text-shadow: 0 0 0.4em hsl(240, 67%, 95%);
  color: hsl(203, 92%, 65%);
  border: 0.12em solid hsl(203, 92%, 65%);
  border-radius: 0.6em;
  -webkit-box-shadow: 0 0 0.6em rgba(234, 234, 251, 0.6), 0 0 0em rgba(133, 205, 250, 0.5) inset, 0 0 0em hsl(203, 92%, 75%);
          box-shadow: 0 0 0.6em rgba(234, 234, 251, 0.6), 0 0 0em rgba(133, 205, 250, 0.5) inset, 0 0 0em hsl(203, 92%, 75%);
  -webkit-transition: scale 0.7s linear, text-shadow 1s ease-in-out, color 1.5s, border-color 2s, -webkit-box-shadow 0.5s linear;
  transition: scale 0.7s linear, text-shadow 1s ease-in-out, color 1.5s, border-color 2s, -webkit-box-shadow 0.5s linear;
  transition: box-shadow 0.5s linear, scale 0.7s linear, text-shadow 1s ease-in-out, color 1.5s, border-color 2s;
  transition: box-shadow 0.5s linear, scale 0.7s linear, text-shadow 1s ease-in-out, color 1.5s, border-color 2s, -webkit-box-shadow 0.5s linear;
  z-index: 2;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.animations__grid-item--dancing-circles:hover {
  color: hsl(240, 67%, 95%);
  border-color: rgba(234, 234, 251, 0.3);
  -webkit-box-shadow: 0 0 0em rgba(234, 234, 251, 0.3), 0 0 5em rgba(133, 205, 250, 0.5) inset, 0 0 0.6em rgba(133, 205, 250, 0.5);
          box-shadow: 0 0 0em rgba(234, 234, 251, 0.3), 0 0 5em rgba(133, 205, 250, 0.5) inset, 0 0 0.6em rgba(133, 205, 250, 0.5);
  text-shadow: 0 0 0.12em hsl(203, 92%, 75%);
  scale: 1.04;
  cursor: url("../img/select.cur"), auto;
}
.animations__grid-item--dancing-circles:active {
  scale: 0.2;
}

.social-media {
  margin-bottom: 15rem;
  display: grid;
  row-gap: 10rem;
  justify-items: center;
}
.social-media__title {
  color: hsl(203, 92%, 65%);
  -webkit-text-stroke: 0.05em rgba(234, 234, 251, 0.3);
  text-shadow: 0 0 0.15em hsl(240, 67%, 95%);
  font-size: 10rem;
  letter-spacing: 2rem;
}
.social-media__grid {
  display: grid;
  grid-auto-flow: column;
  -webkit-column-gap: 8rem;
     -moz-column-gap: 8rem;
          column-gap: 8rem;
}
.social-media__grid-item--tiktok {
  padding: 0.5em;
  padding-top: 0.4em;
  font-size: 2rem;
  text-shadow: 0 0 0.4em hsl(240, 67%, 95%);
  color: hsl(203, 92%, 65%);
  border: 0.12em solid hsl(203, 92%, 65%);
  border-radius: 0.6em;
  -webkit-box-shadow: 0 0 0.6em rgba(234, 234, 251, 0.6), 0 0 0em rgba(133, 205, 250, 0.5) inset, 0 0 0em hsl(203, 92%, 75%);
          box-shadow: 0 0 0.6em rgba(234, 234, 251, 0.6), 0 0 0em rgba(133, 205, 250, 0.5) inset, 0 0 0em hsl(203, 92%, 75%);
  -webkit-transition: scale 0.7s linear, text-shadow 1s ease-in-out, color 1.5s, border-color 2s, -webkit-box-shadow 0.5s linear;
  transition: scale 0.7s linear, text-shadow 1s ease-in-out, color 1.5s, border-color 2s, -webkit-box-shadow 0.5s linear;
  transition: box-shadow 0.5s linear, scale 0.7s linear, text-shadow 1s ease-in-out, color 1.5s, border-color 2s;
  transition: box-shadow 0.5s linear, scale 0.7s linear, text-shadow 1s ease-in-out, color 1.5s, border-color 2s, -webkit-box-shadow 0.5s linear;
  z-index: 2;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding-block: 5rem;
  padding-inline: 0.05rem;
}
.social-media__grid-item--tiktok:hover {
  color: hsl(240, 67%, 95%);
  border-color: rgba(234, 234, 251, 0.3);
  -webkit-box-shadow: 0 0 0em rgba(234, 234, 251, 0.3), 0 0 5em rgba(133, 205, 250, 0.5) inset, 0 0 0.6em rgba(133, 205, 250, 0.5);
          box-shadow: 0 0 0em rgba(234, 234, 251, 0.3), 0 0 5em rgba(133, 205, 250, 0.5) inset, 0 0 0.6em rgba(133, 205, 250, 0.5);
  text-shadow: 0 0 0.12em hsl(203, 92%, 75%);
  scale: 1.04;
  cursor: url("../img/select.cur"), auto;
}
.social-media__grid-item--tiktok:active {
  scale: 0.2;
}
.social-media__grid-item--instagram {
  padding: 0.5em;
  padding-top: 0.4em;
  font-size: 2rem;
  text-shadow: 0 0 0.4em hsl(240, 67%, 95%);
  color: hsl(203, 92%, 65%);
  border: 0.12em solid hsl(203, 92%, 65%);
  border-radius: 0.6em;
  -webkit-box-shadow: 0 0 0.6em rgba(234, 234, 251, 0.6), 0 0 0em rgba(133, 205, 250, 0.5) inset, 0 0 0em hsl(203, 92%, 75%);
          box-shadow: 0 0 0.6em rgba(234, 234, 251, 0.6), 0 0 0em rgba(133, 205, 250, 0.5) inset, 0 0 0em hsl(203, 92%, 75%);
  -webkit-transition: scale 0.7s linear, text-shadow 1s ease-in-out, color 1.5s, border-color 2s, -webkit-box-shadow 0.5s linear;
  transition: scale 0.7s linear, text-shadow 1s ease-in-out, color 1.5s, border-color 2s, -webkit-box-shadow 0.5s linear;
  transition: box-shadow 0.5s linear, scale 0.7s linear, text-shadow 1s ease-in-out, color 1.5s, border-color 2s;
  transition: box-shadow 0.5s linear, scale 0.7s linear, text-shadow 1s ease-in-out, color 1.5s, border-color 2s, -webkit-box-shadow 0.5s linear;
  z-index: 2;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding-block: 5rem;
  padding-inline: 0.05rem;
}
.social-media__grid-item--instagram:hover {
  color: hsl(240, 67%, 95%);
  border-color: rgba(234, 234, 251, 0.3);
  -webkit-box-shadow: 0 0 0em rgba(234, 234, 251, 0.3), 0 0 5em rgba(133, 205, 250, 0.5) inset, 0 0 0.6em rgba(133, 205, 250, 0.5);
          box-shadow: 0 0 0em rgba(234, 234, 251, 0.3), 0 0 5em rgba(133, 205, 250, 0.5) inset, 0 0 0.6em rgba(133, 205, 250, 0.5);
  text-shadow: 0 0 0.12em hsl(203, 92%, 75%);
  scale: 1.04;
  cursor: url("../img/select.cur"), auto;
}
.social-media__grid-item--instagram:active {
  scale: 0.2;
}
.social-media__grid-item--youtube {
  padding: 0.5em;
  padding-top: 0.4em;
  font-size: 2rem;
  text-shadow: 0 0 0.4em hsl(240, 67%, 95%);
  color: hsl(203, 92%, 65%);
  border: 0.12em solid hsl(203, 92%, 65%);
  border-radius: 0.6em;
  -webkit-box-shadow: 0 0 0.6em rgba(234, 234, 251, 0.6), 0 0 0em rgba(133, 205, 250, 0.5) inset, 0 0 0em hsl(203, 92%, 75%);
          box-shadow: 0 0 0.6em rgba(234, 234, 251, 0.6), 0 0 0em rgba(133, 205, 250, 0.5) inset, 0 0 0em hsl(203, 92%, 75%);
  -webkit-transition: scale 0.7s linear, text-shadow 1s ease-in-out, color 1.5s, border-color 2s, -webkit-box-shadow 0.5s linear;
  transition: scale 0.7s linear, text-shadow 1s ease-in-out, color 1.5s, border-color 2s, -webkit-box-shadow 0.5s linear;
  transition: box-shadow 0.5s linear, scale 0.7s linear, text-shadow 1s ease-in-out, color 1.5s, border-color 2s;
  transition: box-shadow 0.5s linear, scale 0.7s linear, text-shadow 1s ease-in-out, color 1.5s, border-color 2s, -webkit-box-shadow 0.5s linear;
  z-index: 2;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding-block: 5rem;
  padding-inline: 0.05rem;
}
.social-media__grid-item--youtube:hover {
  color: hsl(240, 67%, 95%);
  border-color: rgba(234, 234, 251, 0.3);
  -webkit-box-shadow: 0 0 0em rgba(234, 234, 251, 0.3), 0 0 5em rgba(133, 205, 250, 0.5) inset, 0 0 0.6em rgba(133, 205, 250, 0.5);
          box-shadow: 0 0 0em rgba(234, 234, 251, 0.3), 0 0 5em rgba(133, 205, 250, 0.5) inset, 0 0 0.6em rgba(133, 205, 250, 0.5);
  text-shadow: 0 0 0.12em hsl(203, 92%, 75%);
  scale: 1.04;
  cursor: url("../img/select.cur"), auto;
}
.social-media__grid-item--youtube:active {
  scale: 0.2;
}

.registration {
  margin-bottom: 15rem;
  display: grid;
  row-gap: 1rem;
  justify-items: center;
}
.registration__title {
  font-size: 10rem;
  color: hsl(203, 92%, 65%);
  -webkit-text-stroke: 0.05em rgba(234, 234, 251, 0.3);
  text-shadow: 0 0 0.15em hsl(240, 67%, 95%);
}
.registration__form-wrapper {
  background: -webkit-gradient(linear, right bottom, left top, color-stop(35%, rgba(133, 205, 250, 0.5)), color-stop(70%, rgba(145, 238, 145, 0.5)));
  background: linear-gradient(to top left, rgba(133, 205, 250, 0.5) 35%, rgba(145, 238, 145, 0.5) 70%);
  border-radius: 1.5em;
  padding-block: 4em;
  width: 80%;
  justify-self: center;
}
.registration__form {
  grid-column: 2/3;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
}
.registration__input {
  background-color: hsl(203, 92%, 90%);
  border: 0.15em solid hsl(0, 0%, 80%);
  border-radius: 0.4em;
  -webkit-transition: border 0.7s;
  transition: border 0.7s;
  outline: none;
  font-family: var(--font);
  font-size: 3.8rem;
  color: hsl(0, 0%, 30%);
  grid-column: 1/4;
  justify-self: center;
  width: 80%;
  padding: 0.2em;
}
.registration__input:focus {
  border: 0.15em solid hsl(0, 0%, 30%);
}
.registration__input--username {
  grid-row: 1/2;
}
.registration__input--email {
  grid-row: 2/3;
}
.registration__input--password {
  grid-row: 3/4;
}
.registration__input--btn {
  width: 100%;
  margin-top: 2rem;
  font-size: 3rem;
  grid-row: 4/5;
  grid-column: 2/3;
  border: 0.18em solid hsl(0, 0%, 80%);
  border-radius: 0.5em;
  -webkit-transition: border 0.7s;
  transition: border 0.7s;
}
.registration__input--btn:active {
  -webkit-transform: scale(0.85);
      -ms-transform: scale(0.85);
          transform: scale(0.85);
}
.registration__input--btn:hover {
  cursor: url("../img/select.cur"), auto;
  border: 0.18em solid hsl(0, 0%, 30%);
}

.dancing-circles {
  display: grid;
  gap: 2.5rem;
}
.dancing-circles__canvas {
  -webkit-box-shadow: 0.3em 0.3em 0.8em hsl(203, 92%, 65%), -0.3em -0.3em 1em hsl(120, 73%, 75%);
          box-shadow: 0.3em 0.3em 0.8em hsl(203, 92%, 65%), -0.3em -0.3em 1em hsl(120, 73%, 75%);
}
.dancing-circles__upload-btn {
  justify-self: center;
  padding: 0.5em;
  padding-top: 0.4em;
  font-size: 2rem;
  text-shadow: 0 0 0.4em hsl(240, 67%, 95%);
  color: hsl(203, 92%, 65%);
  border: 0.12em solid hsl(203, 92%, 65%);
  border-radius: 0.6em;
  -webkit-box-shadow: 0 0 0.6em rgba(234, 234, 251, 0.6), 0 0 0em rgba(133, 205, 250, 0.5) inset, 0 0 0em hsl(203, 92%, 75%);
          box-shadow: 0 0 0.6em rgba(234, 234, 251, 0.6), 0 0 0em rgba(133, 205, 250, 0.5) inset, 0 0 0em hsl(203, 92%, 75%);
  -webkit-transition: scale 0.7s linear, text-shadow 1s ease-in-out, color 1.5s, border-color 2s, -webkit-box-shadow 0.5s linear;
  transition: scale 0.7s linear, text-shadow 1s ease-in-out, color 1.5s, border-color 2s, -webkit-box-shadow 0.5s linear;
  transition: box-shadow 0.5s linear, scale 0.7s linear, text-shadow 1s ease-in-out, color 1.5s, border-color 2s;
  transition: box-shadow 0.5s linear, scale 0.7s linear, text-shadow 1s ease-in-out, color 1.5s, border-color 2s, -webkit-box-shadow 0.5s linear;
  z-index: 2;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.dancing-circles__upload-btn:not(.playing):hover, .dancing-circles__upload-btn:not(.playing):focus {
  color: hsl(240, 67%, 95%);
  border-color: rgba(234, 234, 251, 0.3);
  -webkit-box-shadow: 0 0 0em rgba(234, 234, 251, 0.3), 0 0 5em rgba(133, 205, 250, 0.5) inset, 0 0 0.6em rgba(133, 205, 250, 0.5);
          box-shadow: 0 0 0em rgba(234, 234, 251, 0.3), 0 0 5em rgba(133, 205, 250, 0.5) inset, 0 0 0.6em rgba(133, 205, 250, 0.5);
  text-shadow: 0 0 0.12em hsl(203, 92%, 75%);
  scale: 1.04;
  cursor: url("../img/select.cur"), auto;
}
.dancing-circles__upload-btn:not(.playing):active {
  scale: 0.2;
}
.dancing-circles__input[type=file] {
  display: none;
}

.p4-vega {
  margin-bottom: 7rem;
  display: grid;
  gap: 2rem;
}
.p4-vega__canvas {
  background-color: hsl(255, 100%, 10%);
  -webkit-box-shadow: 0 0 2em rgba(38, 38, 38, 0.6);
          box-shadow: 0 0 2em rgba(38, 38, 38, 0.6);
}
.p4-vega__img {
  display: none;
}