@use '../abstracts' as *;

.animations {
    
    @include default-component;

    &__title {
        margin-top: 3em;
    }

    &__grid {
    
        display: grid;
        grid-auto-flow: column;
        gap: 4em;

        &-item {
            font-size: $font-size-m;

            &--dancing-circles {
                @include default-btn;

                &:hover {
                    @include default-btn-hover;
                }

                &:active {
                    @include default-btn-active;
                }

            }
        }
    }
}

@include generate-media-queries($bps-animations);