@use '../abstracts' as *;

.dancing-circles {
    display: grid;
    gap: 2em;

    &__canvas {
        @include canvas-shadow-effect;
        justify-self: center;
    }

    &__upload-btn {
        justify-self: center;
        
        grid-row: 3;

        @include default-btn;

        &:not(.playing):hover,
        &:not(.playing):focus {
            @include default-btn-hover;
        }

        &:not(.playing):active {
            @include default-btn-active;
        }
    }

    &__input[type="file"] {
        display: none;
    }
}