@use '../abstracts' as *;

.dancing-circles {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 3em;
    align-items: start;

    &__title {
        grid-column: 1 / -1;
        justify-self: center;
    }

    &__canvas-wrapper {
        grid-column: 2 / 3;
        justify-self: center;
    }

    &__canvas {
        @include canvas-shadow-effect;
    }

    &__transport {
        grid-column: 2 / 3;

        display: grid;
        grid-template-columns: 1fr auto 1fr;
        align-items: center;
        width: 100%;
        column-gap: 1rem;
        
        &-controls {
            grid-column: 1 / 2;
            justify-self: center;
        }
    }

    &__upload {
        grid-column: 2 / 3;
        justify-self: center;
    }

    &__upload-btn {
        @include default-btn;

        &:not(.playing):hover,
        &:not(.playing):focus {
            @include default-btn-hover;
        }

        &:not(.playing):active {
            @include default-btn-active;
        }
    }

    &__input[type="file"] {
        display: none;
    }

    @include block-canvas-fullscreen('dancing-circles');
    @include canvas-fullscreen-button-position('dancing-circles');
}