@use '../abstracts' as *;

.dancing-circles {
    display: grid;
    gap: 3em;

    &__canvas {
        @include canvas-shadow-effect;
        justify-self: center;
    }

    &__transport {
        grid-row: 3;
        display: grid;
        grid-template-columns: repeat(3, auto);

        &-controls {
            justify-self: center;
        }
    }

    &__upload-btn {
        justify-self: center;
        
        @include default-btn;

        &:not(.playing):hover,
        &:not(.playing):focus {
            @include default-btn-hover;
        }

        &:not(.playing):active {
            @include default-btn-active;
        }
    }

    &__input[type="file"] {
        display: none;
    }

    @include block-canvas-fullscreen('dancing-circles');
    @include canvas-fullscreen-button-position('dancing-circles');
}