@use '../abstracts' as *;

.games {

    @include default-component;

    &__title {
        margin-top: 3em;
    }

    &__grid-item {
        font-size: 2rem;

        &--p4 {
            @include default-btn;

            &:hover {
                @include default-btn-hover;
            }

            &:active {
                @include default-btn-active;
            }

        }
    }
}

@include generate-media-queries($bps-games);