@use '../abstracts' as *;

.home {

    &__welcome-message {
        color: $primary-mid;
        font-size: $font-size-m;
        text-align: center;
        font-weight: 600;
        font-family: $subheading-font;
    }
}