@use '../abstracts' as *;

.p4-vega {
    position: relative;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 3em;
    align-items: flex-start;

    &__title {
        grid-column: 1 / -1;
        justify-self: center;
        margin-bottom: .5em;
    }

    &__canvas-wrapper {
        grid-column: 2 / 3;
        grid-row: 2;
        justify-self: center;
        align-self: center;

        width: fit-content;
        height: fit-content;
        margin: 0 auto;
    }

    &__canvas {
        @include canvas-shadow-effect;
        display: block;
        overflow: hidden;
    }

    &__ui {
        grid-column: 1 / 2;
        grid-row: 2;

        display: grid;
        grid-auto-rows: max-content;
        grid-auto-flow: row;
        gap: 1em;

        max-height: fit-content;

        margin-right: -2em;

        &--option {
            display: grid;
            grid-auto-columns: max-content;
            grid-auto-flow: column;
            gap: .5em;

            @include default-option;
        }

        &--checkbox {
            appearance: none;
            border-radius: 50%;
    
            width: .5em;
            height: .5em;
    
            background-color: $white-darker;
    
            align-self: center;

            cursor: $cursor-hover;
    
            &:checked {
                background-color: $secondary;
            }

            &:focus {
                outline: none;
                box-shadow: none;
            }
        }

        &--dropdown-grid {
            display: grid;
            grid-auto-columns: max-content;
            grid-auto-flow: column;
            gap: .5em;
        }

        &--dropdown {
            @include default-option;

            position: relative;

            &-btn {
                display: flex;
            }

            // Theming and positioning for the shared .dropdown menu
            &-menu {
                cursor: $cursor-hover;

                max-height: 20rem;
                overflow-y: auto; 
                overflow-x: hidden; 

                position: absolute;
                left: 1rem;
                right: .3rem;
                top: 95%;

                margin-left: -.8rem;

                border-bottom-left-radius: $border-radius-s;
                border-bottom-right-radius: $border-radius-s;

                box-shadow: $dark-box-shadow-s;

                &-keys {
                    white-space: nowrap;
                    left: 3em;
                }

                &-item {
                    padding: .5em;
                    font-size: $font-size-xxs;
                    color: $white-darker;

                    &:hover {
                        background-color: $primary-darker;
                        border-radius: $border-radius-s;
                    }
                }
            }

            // Button hover state; open/close behavior is handled
            // by the shared .dropdown styles.
            &-btn:hover {
                background-color: $primary-darker;
            }
        }
    }

    @include canvas-fullscreen-button-position("p4-vega");
    @include block-canvas-fullscreen("p4-vega");
}