@use '../abstracts' as *;

.social-media {
    display: grid;
    row-gap: 8em;

    justify-items: center;

    &__title {
        @include component-title;
        font-size: $font-size-m;
    }

    &__grid {
        display: grid;
        grid-auto-flow: column;

        &-btn {
            &--tiktok {
                @include social-media-btn;
            }

            &--instagram {
                @include social-media-btn;
            }

            &--youtube {
                @include social-media-btn;
            }

            &--github {
                @include social-media-btn;
            }
        }
    }
}

@include generate-media-queries($bps-social-media);