:root {
    --lightblue-hsl: hsl(203, 92%, 75%);
    --lightblue-hsla: hsla(203, 92%, 75%, .5);
    --lightblue1-hsl: hsl(203, 92%, 67%);
    --lightturquoise-hsl: hsl(174, 72%, 56%);
    --lightturquoise-hsla: hsla(174, 72%, 56%, .3);
    --lightgreen-hsl: hsl(120, 73%, 75%);
    --lightgreen-hsla: hsla(120, 73%, 75%, .5);

    --softpink-hsl: hsl(351, 100%, 86%);
    --softpink-hsla: hsla(351, 100%, 86%, .3);
    --lightyellow-hsl: hsl(60, 100%, 80%);
    --lightyellow-hsla: hsla(60, 100%, 80%, .2);
    --lavender-hsl: hsl(240, 67%, 94%);
    --lavender-hsla: hsla(240, 67%, 94%, .3);
    --lightcoral-hsl: hsl(0, 79%, 72%);
    --lightcoral-hsla: hsla(0, 79%, 72%, .5);

    --gray-hsl: hsl(0, 0%, 31%);
    --gray-hsla: hsla(0, 0%, 31%, .3);
    --lightgray-hsl: hsl(0, 0%, 78%);
    --lightgray-hsla: hsla(0, 0%, 78%, .8);

    --gray-box-shadow-hsla: hsla(230, 230, 250, .3);
    --title-text-shadow: 0 0 .15em var(--lavender-hsl);
    --label-text-shadow: 0 0 .4em var(--lavender-hsl);

    --font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    --body-background: linear-gradient(to bottom right, var(--lightblue1-hsl) 30%, var(--lightgreen-hsl) 90%);
    --register-div-background: linear-gradient(to top left, var(--lightblue-hsla) 35%, var(--lightgreen-hsla) 70%);

    --cursor: url("../img/normal.cur"), auto;
    --hover-cursor: url("../img/select.cur"), auto;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-8px);
    }
    100% {
        transform: translateY(0px);
    }
}

.floating {
    animation: float 3s ease-in-out infinite;
}

body {
    min-height: 100svh;
    margin: 0;

    cursor: var(--cursor);

    font-family: var(--font);

    background: var(--body-background);
}

div#content {
    display: grid;
}

.centralized {
    min-height: 100svh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    font-size: 2rem;

    margin-left: 1em;
    position: fixed;
}

header ul#nav {
    border-bottom: .2em solid var(--lavender-hsla);
    border-radius: 1em;
    list-style: none;

    display: flex;
    justify-content: space-between;
    gap: 1em;

    margin-top: .5em;
    padding-block: .2em;
    padding-inline: 1em;
}

header ul#nav li {
    transition: transform .5s ease-in-out;
}

header ul#nav li:hover {
    transform: scale(1.1);
}

header ul#nav li:active {
    transform: scale(.5);
}

header ul#nav li a {
    text-decoration: none;
    color: hsl(0, 80%, 95%, .6);
    transition: text-shadow 1.5s ease-in-out;
}

header ul#nav li a:hover {
    text-shadow: var(--label-text-shadow);
    cursor: var(--hover-cursor);
}

/**************************************************** Register Page ****************************************************/
h1#register-title {
    margin-bottom: 2.2em;
    margin-right: 4em;
    
    font-size: 3.2rem;
    color: var(--lightblue-hsl);
    text-shadow: var(--title-text-shadow);
}

div#form {
    width: 10svw;
    height: 20svh;
    margin-bottom: 15em;

    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--register-div-background);
    border-radius: 1em;
    transform: scale(2);
}

div#form .input {
    background-color: hsl(210, 90%, 91%);
    border: .15em solid var(--lightgray-hsl);
    border-radius: .4em;

    transition: border 0.7s;
    outline: none;

    font-family: var(--font);
    font-size: 1rem;

    color: var(--gray-hsl);
}

div#form .input:focus {
    border: .15em solid var(--gray-hsl);
}

div#form form {
    padding-inline: 2em;

    display: grid;
    gap: .2em;
    justify-content: center;
    grid-template-areas: 
        "name name name"
        "email email email"
        "password password password" 
        "register-button register-button register-button";
}

div#form input#user-name {
    grid-area: name;
}

div#form input#email {
    grid-area: email;
}

div#form input#password {
    grid-area: password;
}

div#form input#register-button {
    position: relative;
    top: .7em;

    grid-area: register-button;
    border-radius: .5em;
    grid-column: 2;

    padding-block: .2em;

    border: .18em solid var(--lightgray-hsl);
    transition: border 0.7s;

    font-size: .7rem;
}

div#form #register-button:active {
    transform: scale(.85);
}

div#form #register-button:hover {
    cursor: var(--hover-cursor);
    border: .18em solid var(--gray-hsl);
}

/**************************************************** Dancing Circles Page ****************************************************/
canvas#dancing-circles {
    width: 60svw;

    box-shadow: .3em .3em .8em var(--lightblue1-hsl), -.3em -.3em 1em var(--lightgreen-hsl);
    border-radius: .2em;
}

h1#dc-title {
    padding: 1svh;
    margin: 3svh 0;

    font-size: 3.5rem;
    color: var(--lightblue1-hsl);
    text-shadow: var(--title-text-shadow);
    -webkit-text-stroke: .05em var(--lavender-hsla);

    border-top: .15em double var(--lavender-hsla);
    border-bottom: .15em double var(--lavender-hsla);
    border-radius: .4em;
}

label#upload-button {
    position: relative;
    top: 1em;

    padding: .5em;
    padding-top: .4em;

    font-size: 2rem;
    color: var(--lightblue1-hsl);

    text-shadow: var(--label-text-shadow);

    border: .12em solid var(--lightblue1-hsl);
    border-radius: .6em;
    box-shadow: 0 0 .6em hsla(240, 67%, 94%, .6), 
    0 0 0em var(--lightblue-hsla) inset,
    0 0 0em var(--lightblue-hsl);

    z-index: 2;
    user-select: none;

    transition: 
        box-shadow .5s linear, 
        scale .7s linear, 
        text-shadow 1s ease-in-out, 
        color 1.5s,
        border-color 2s;
}

label#upload-button:not(.playing):hover {
    color: var(--lavender-hsl);
    border-color: hsla(240, 67%, 94%, .3);
    box-shadow: 0 0 0em var(--lavender-hsla),
            0 0 5em var(--lightblue-hsla) inset,
            0 0 .6em var(--lightblue-hsla);

    text-shadow: 0 0 .12em var(--lightblue-hsl);

    scale: 1.04;
    
    cursor: var(--hover-cursor);
}

label#upload-button:not(.playing):active {
    scale: .2;
}

input#file-upload[type="file"] {
    display: none;
}

/**************************************************** p4-Vega Page ****************************************************/
canvas#p4-Vega {
    width: 60svw;
    border: .4em solid var(--lavender-hsl);
    border-radius: .8em;
    background-color: hsl(255, 100%, 10%);
}

h1#p4-title {
    font-size: 3rem;
    color: var(--lavender-hsl);
    -webkit-text-stroke: .04em black;
}