@use '../abstracts' as *;

@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-8px);
    }

    100% {
        transform: translateY(0px);
    }
}

.floating {
    animation: float 3s ease-in-out infinite;
}

@keyframes glow {
    from {
        text-shadow: 0 0 5px $white, 
                0 0 10px $white, 
                0 0 15px $white, 
                0 0 20px $primary, 
                0 0 30px $primary, 
                0 0 40px $primary, 
                0 0 55px $primary, 
                0 0 75px $primary;
    }

    to {
        text-shadow: 0 0 10px $white, 
                0 0 15px $white, 
                0 0 20px $white, 
                0 0 25px $primary, 
                0 0 35px $primary, 
                0 0 50px $primary, 
                0 0 70px $primary, 
                0 0 100px $primary;
    }
}

.glowing {
    animation: glow 1.5s infinite alternate;
}

.glowing-floating {
    animation: glow 1.5s infinite alternate, float 3s ease-in-out infinite;
}

.fade-in {
    opacity: 1;
    transition: opacity 2s ease;
}

.fade-out {
    opacity: 0;
    transition: opacity 2s ease;
}