@use '../abstracts' as *;

// Settings to reset default browser styles
*, 
*::before, 
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

// Settings to disable scrolling
html,
body {
    height: 100%;
    overflow: hidden;
}

// Settings to set the font-size to 10px for easier rem calculations
// also the box-sizing property is set to border-box 
// which includes padding and border in the element's total width and height
html {
    font-size: 62.5%;

    box-sizing: border-box;
}

body {
    background-image: $page-bg-gradient;
    cursor: $cursor;
}

canvas {
    width: 60vw;
    box-sizing: content-box;
    border-radius: .8em;
}

a {
    text-decoration: none;
    cursor: $cursor-hover;
}