@use '../abstracts' as *;

.u-truncate {
    flex: 0 1 auto;
    display: inline-block;
    width: 3em;
    vertical-align: -.32em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}