@use '../abstracts' as *;

.fullscreen-btn {
    width: 3rem;
    height: 3rem;

    color: $white;
    margin-inline: auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    border-radius: .6rem;
    padding: .6rem;

    transition: all .2s ease;

    &:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }
}