@use '../abstracts' as *;

.menu-btn {
    
    @include default-menu-btn;

    &:hover {
        cursor: $cursor-hover;
    }
    
    // Initial visible state
    visibility: visible;
    opacity: 1;

    // Transition for opacity and visibility
    transition: opacity 0.5s,
    visibility 0.5s;

    // This class will make the sidebar visible
    // when the sidebar-btn is clicked
    &:not(.is-visible) {
        visibility: hidden;
        opacity: 0;
    }
    
}

@include generate-media-queries($bps-menu);