@use '../abstracts' as *;

.menu {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: $font-size-xs;

    position: fixed;
    inset: 0;

    // Initial invisible state
    visibility: hidden;
    opacity: 0;

    // Transition for opacity and visibility
    transition: opacity 0.5s, visibility 0.5s;

    z-index: $front-9;

    // This class will make the sidebar visible
    // when the sidebar-btn is clicked
    &.is-visible {
        visibility: visible;
        opacity: 1;
    }

    &__nav {
        &__list {
            display: grid;
            justify-items: center;
            align-items: center;

            width: 80vw;
            height: 70vh;

            list-style: none;

            background-image: $sidebar-bg-gradient;
            border: .1em solid rgba($white, .6);
            border-radius: 1em;
        }

        &__item {
            @include nav-item;

            padding-bottom: .1em;

            border-bottom: .1em solid rgba($white, .3);
            border-radius: 1em;
        }

        &__link {
            @include nav-link;
        }
    }
}

@include generate-media-queries($bps-menu);
