@use '../abstracts' as *;

.dancing-circles {
    display: grid;
    gap: 2.5rem;

    &__canvas {
        box-shadow: .3em .3em .8em $primary-dark, -.3em -.3em 1em $secondary;
    }

    &__upload-btn {
        justify-self: center;

        @include default-btn;

        &:not(.playing):hover,
        &:not(.playing):focus {
            @include default-btn-hover;
        }

        &:not(.playing):active {
            @include default-btn-active;
        }
    }

    &__input[type="file"] {
        display: none;
    }
}