@use '../abstracts' as *;

.dancing-circles {
    display: grid;
    gap: 2.5rem;

    &__canvas {
        box-shadow: .3em .3em .8em $primary-dark, -.3em -.3em 1em $secondary;
    }

    &__label {
        justify-self: center;

        padding: .5em;
        padding-top: .4em;

        font-size: 2rem;

        &:not(.playing):hover,
        &:not(.playing):focus {
            color: $white;
            border-color: rgba($white, .3);
            box-shadow: 0 0 0em rgba($white, .3),
                0 0 5em rgba($primary, .5) inset,
                0 0 .6em rgba($primary, .5);

            text-shadow: 0 0 .12em $primary;

            scale: 1.04;

            cursor: $cursor-hover;
        }

        &:not(.playing):active {
            scale: .2;
        }
    }

    &__input[type="file"] {
        display: none;
    }
}