$primary: hsl(203, 92%, 75%);
$primary-light: hsl(203, 92%, 90%);
$primary-mid: hsl(203, 92%, 80%);
$primary-dark: hsl(203, 92%, 65%);

$secondary: hsl(120, 73%, 75%);
$tertiary: hsl(174, 72%, 55%);

$space-blue: hsl(255, 100%, 10%);

$white: hsl(240, 67%, 95%);

$gray: hsl(0, 0%, 30%);
$gray-light: hsl(0, 0%, 80%);

$page-bg-gradient: linear-gradient(to bottom right, $primary-dark 30%, $secondary 90%);
$component-bg-gradient: linear-gradient(to top left, rgba($primary, .5) 35%, rgba($secondary, .5) 70%);
$sidebar-bg-gradient: linear-gradient(to top left, rgba($primary, .8) 35%, rgba($secondary, .8) 70%);