@use 'colors' as *;

$title-text-shadow: 0 0 .15em $white;
$label-text-shadow: 0 0 .4em $white;
$dark-box-shadow: 0 .4em .8em rgba(0, 0, 0, 0.1);
$dark-box-shadow-s: 0 .3em .4em rgba(0, 0, 0, 0.1);
$canvas-shadow: .3em .3em .8em $primary-dark, -.3em -.3em 1em $secondary;