// Cursors
$cursor: url("../img/normal.cur"), auto;
$cursor-hover: url("../img/select.cur"), auto;

///////////////////// Z-Index Values //////////////////////
$front: 10;
$front-9: 9;
$front-9: 8;
$front-7: 7;
$front-6: 6;
$mid: 5;
$back-4: 4;
$back-3: 3;
$back-2: 2;
$back: 1;

///////////////////// Breakpoints (max-width) //////////////////////
$bp-5xl: 97.5em; // 1560px
$bp-4xl: 85em;// 1360px
$bp-3xl: 80em;// 1280px
$bp-2xl: 75em;// 1200px
$bp-xl: 61.25em; // 980px
$bp-l: 55em; // 880px
$bp-m: 48.75em; // 780px
$bp-s: 34.375em; // 550px

///////////////////// Font Sizes //////////////////////
$font-size-xxs: 1.3rem;
$font-size-xs: 2rem;
$font-size-s: 3rem;
$font-size-m: 6rem;
$font-size-l: 8rem;
$font-size-xl: 10rem;

///////////////////// Border Radius //////////////////////
$default-border-radius: .8em;

///////////////////// Breakpoint Maps //////////////////////
// Breakpoint Map for Navigation 
$bps-nav: (
    'xl': (
        'width': $bp-xl,
        'selectors': (
            '.nav': (
                'font-size': 2.3rem,
            ),
        )
    ), 
    'l': (
        'width':  $bp-l,
        'selectors': ( 
            '.nav__item': (
                'padding-inline': .1em,
            ),
        )
    ), 
    'm': (
        'width': $bp-m,
        'selectors': ( 
            '.nav': (
                'display': none,
            ),
        )
    ), 
);

// Breakpoint Map for Menu
$bps-menu: (
    'm': (
        'width': $bp-m,
        'selectors': (
            '.menu-btn': (
                'display': block,
            ),
        )
    ),
);

// Breakpoint Map for Animations Component
$bps-animations: (
    'xl': (
        'width': $bp-xl,
        'selectors': (
            '.animations__title': (
                'font-size': $font-size-l,
            ),
        )
    ),
    'l': (
        'width': $bp-l,
        'selectors': (
            '.animations__title': (
                'font-size': $font-size-m,
            ),
        )
    ),
    'm': (
        'width': $bp-m,
        'selectors': (
            '.animations__title': (
                'font-size': $font-size-s,
            ),
        )
    ),
);

// Breakpoint Map for Games Component
$bps-games: (
    'l': (
        'width': $bp-l,
        'selectors': (
            '.games__title': (
                'font-size': $font-size-l,
            ),
        )
    ),
    'm': (
        'width': $bp-m,
        'selectors': (
            '.games__title': (
                'font-size': $font-size-m,
            ),
        )
    ),
);

// Breakpoint Map for Social Media Component
$bps-social-media: (
    '5xl': (
        'width': $bp-5xl,
        'selectors': (
            '.social-media__grid': (
                'column-gap': 2rem,
            ),
            '.social-media__grid-anchor': (
                'scale': .8,
            ),
        )
    ),
    '3xl': (
        'width': $bp-3xl,
        'selectors': (
            '.social-media__title': ( 
                'margin-bottom': -5rem,
            ),
            '.social-media__grid': (
                'grid-template-rows': 1fr 1fr,    
                'column-gap': 0rem,
            ),
            '.social-media__grid-anchor': (
                'scale': .7,
            ),
        )
    ),
    'l': (
        'width': $bp-l,
        'selectors': (
            '.social-media__title': (
                'font-size': $font-size-m,
            ),
        )
    ),
    'm': (
        'width': $bp-m,
        'selectors': (
            '.social-media__grid-anchor': (
                'scale': .5,
                'margin': -2rem,
            ),
            '.social-media__title': (
                'font-size': $font-size-s,
                'display': inline-block,
                'padding-inline': 3rem,
                'text-align': center,
            ),
        )
    ),
    's': (
        'width': $bp-s,
        'selectors': (
            '.social-media': (
                'margin-bottom': 0,
            ),
            '.social-media__grid': (
                'grid-auto-flow': row,
            ),
            '.social-media__grid-anchor': (
                'scale': .4,
                'margin-block': -5rem,
            ),
        )
    ),
);